@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Inter', sans-serif;
}

.menuItemData a.active{
    border-bottom: 2px solid #3AA39F;
    color: #3AA39F;
}